<h1><%= t("invoice.new_invoice_lable") %></h1>

<% if user_signed_in? && !current_user.is_staff? %>
	<%= render 'customer_form' %>
<% else %>
	<%= render 'form' %>
<% end %>

<%= link_to t(:back_button), invoices_path %>
