<h1>Listing procategories</h1>

<ul>
  <% @procategories.each do |procategory| %>
    <li>
      <%= link_to procategory.name, procategory %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Procategory', new_procategory_path %>
