<ul>
	<li class=<%if controller.controller_name == 'welcome'%> 'active' <%end%> >
		<%= link_to "Trang chủ", root_path %>
	</li>

  <li class=<% if controller.controller_name == 'invoices' %> 'active' <% end %> ><%= link_to "Invoice", invoices_path %></li>

  <li><a href="#">Giới thiệu</a></li>
  <li><a href="#">Liên hệ</a></li>
  
</ul>