<div class="post">
	<h2 class="title">
    <%= label_tag "Giới thiệu Sở Khoa học và Công nghệ tỉnh Bến Tre" %>
  </h2>
  <h3 class="posted"><%= DateTime.now.to_date %></h3>

  <div class="story">
  	<table>
  		<tr>
  			<td>
  				Địa chỉ: 
  			</td>
  			<td>
  				280 đường 3 tháng 2, Phường 3, thành phố Bến Tre, tỉnh Bến Tre
  			</td>
  		</tr>
  		<tr>
  			<td>
  				Email: 
  			</td>
  			<td>
  				 banbientap@dost-bentre.gov.vn
  			</td>
  		</tr>
  		<tr>
  			<td>
  				Điện thoại:
  			</td>
  			<td>
  				0753.827358
  			</td>
  		</tr>
  		<tr>
  			<td>
  				Fax:
  			</td>
  			<td>
  				0753.827358
  			</td>
  		</tr>
  		<tr>
  			<td>
  				Website:
  			</td>
  			<td>
  				<%= link_to " http://www.dost-bentre.gov.vn",  "http://www.dost-bentre.gov.vn" %>
  			</td>
  		</tr>
  	</table>
  </div>
</div>