/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 *= require wmd
 */
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../assets/img1.gif) repeat-x;
	font: normal small sans-serif;
	color: #878C66;
}

h1, h2, h3, h4, h5, h6 {
	color: #997867;
}

a {
	text-decoration: none;
	color: #825037;
}

a:hover {
	text-decoration: underline;
	background-color: lavender;
}

img {
	border: 0px;
}

.delete_small:hover {
	text-decoration: underline;
	background-color: white;
}

/* Header */

#header {
	width: 700px;
	height: 140px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	padding: 42px 0 0 0;
}

#logo * {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #878C66;
}

#logo h1 {
	letter-spacing: -2px;
	font-size: 2.2em;
}

#logo h2 {
	margin-top: -5px;
	padding-left: 2px;
	font-size: 1em;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 69px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 22px;
	margin-left: 2px;
	padding: 8px 15px 0 15px;
	background: #EFF0EB url(../assets/img2.gif) repeat-x;
	border: 1px solid #C9CCB9;
	border-bottom: none;
	text-decoration: none;
	color: #878C66;
}

#menu .active a, #menu a:hover {
	height: 23px;
	background: #EFF0EB;
	font-weight: bold;
}

#user_nav {
	text-align: center;	
}

/* Content */

#content {
	width: 700px;
	margin: 0 auto;
}

/* Column One */

#colOne {
	float: right;
	width: 470px;
}

#colOne .post {
	clear: both;
	margin-bottom: 3em;
}

#colOne .title {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #C9CCB9;
	font-size: 1.6em;
	margin-bottom: 20px;
}

#colOne .posted, #colOne .meta {
	margin: 0;
	text-align: right;
	font-size: xx-small;
}

#colOne .posted {
	margin-top: -13px;
}

#colOne .meta {
	border-top: 1px solid #C9CCB9;
}

#colOne .meta p {
	margin: 0;
}

/* Column Two */

#colTwo {
	float: left;
	width: 200px;
}

#colTwo .search {
	width: 120px;
}

#colTwo #submit1 {
	display: none;
}

#colTwo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colTwo li h2 {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#colTwo li h2 span {
	margin: 0;
	padding: 5px 10px;
	background: #F0F0EB url(../assets/img3.gif) repeat-x;
	border: 1px solid #C9CCB9;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 10px;
}

#colTwo li ul, #colTwo li form {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #C9CCB9;
}

/* Footer */

#footer {
	width: 700px;
	margin: 0 auto;
	padding: 1em;
	border-top: 1px solid #C9CCB9;
}

#footer p {
	font-size: xx-small;
}

/*******************************************************************************************/
/*bootstrap*/
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  margin-left: -180px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
#sign-up-form {
	width: 350px;
  height: 350px;
}

#login-form {
  width: 350px;
  height: 250px;
}

#new-procategory-form {
	width: 350px;
  height: 250px;
}

.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}

/*.modal{width: auto;}*/
.modal h3 {font-size:15px; line-height:normal;}
/*.modal-body{ max-height: 550px;}*/
.pop-singup {background-color:#fff; width:300px; padding:10px 30px; margin:0px auto; position:relative; text-align:center}
	.pop-singup  h2 {font-size:15px; line-height:normal; margin-bottom:15px;}
	.form-sign-up input[type="text"], .form-sign-up input[type="password"] {width:280px; height:28px; line-height:28px; font-size:11px; font-weight:bold; color:#a19f99; background-color:#f4f3f1; border-bottom:#d8d4ce 1px solid}
	.form-sign-up .controls {margin-bottom:8px;}


.button {
	background: #EFF0EB url(../assets/img2.gif) repeat-x;
	border: 1px solid #C9CCB9;
	color: #878C66;
	width: 200px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
}

.button:hover {
	background: #EFF0EB;
}

.search-button{
	background: #EFF0EB url(../assets/img2.gif) repeat-x;
	border: 1px solid #C9CCB9;
	color: #878C66;
	width: 65px;
	height: 30px;
}

.search-button:hover{
	font-weight: bold;
	background: #EFF0EB;
}


.btn {
	font-size: 13px;
	background: #EFF0EB url(../assets/img2.gif) repeat-x;
	border: 1px solid #C9CCB9;
	color: #878C66;
}

.btn:hover{
	background: #EFF0EB;
}

.menu {
	-webkit-box-sizing: content-box;
}

.user_table{
	background: #FFFFFF url(../assets/id-card.png);
	height: 300px;
	font-size: 14px;
}

.user_table input {
	border: 0px;
	background: transparent;
}